# XBoard 配置文件示例
# 复制此文件为 xboard.config.yaml 并修改相应配置

xboard:
  # 后端提供商类型
  # 可以是任意字符串，只要远程配置 JSON 的 panels 对象中有对应的键名
  # 例如: Flclash, v2word, wujie, mihomo, 或自定义的任何名称
  provider: Flclash
  
  remote_config:
    sources:
      - name: main
        url: https://nodesfree.github.io/v2raynode/config.json
        priority: 100
    timeout_seconds: 10
    max_retries: 3
  
  log:
    enabled: true
    level: info
